.Footer{
    position: relative;
    background: $Footer;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}